#par1{
    background-color: red;
}
#par2{
background-color: rgb(0, 0, 255);
}
#par3{
background-color: rgb(0, 255, 0);
}
#par4{
background-color: rgba(250, 255, 0, 0.5)
}
#par5{
    background-color: #803e00c6;

}
#par6{
    background-color: #ff00ffB0;

}
#par7{
background-color: hsl(240, 0%, 50%);
}